body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'DM Mono', monospace;
    background: rgb(247,248,252);
    background: linear-gradient(180deg, rgba(247,248,252,1) 0%, rgba(216,221,238,1) 100%);
    color: #18191C;
}

.calculator {
    height: 60%;
    aspect-ratio: 4 / 7;
    background-color: #C1C8E4;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

#display {
    font-size: 7vh;
    line-height: 9vh;
    padding: 1vh;
    margin: 0 1vh 0;
    text-align: right;
    background-color: #D8DDEE;
}

#controls {
    font-size: 0;
    line-height: 0;
    margin: 2%;
}

button {
    border: none;
    text-align: center;
    font-family: 'DM Mono', monospace;
    color: white;
    font-size: 6vh;
    width: 23%;
    aspect-ratio: 1 / 1;
    margin: 1%;
    vertical-align: top;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

button[name="zero"] {
    width: 48%;
    aspect-ratio: 2 / 0.96;
}

button.num {
    background-color: #5680E9;
}

button.num:hover {
    background-color: #4B70CC;
}

button.op, button.equals {
    background-color: #BF56E9;
}

button.op:hover, button.equals:hover {
    background-color: #A74BCC;
}

button.ac, button.del, button.sign {
    background-color: #7656E9;
}

button.ac:hover, button.del:hover, button.sign:hover {
    background-color: #674BCC;
}

#history {
    color: #303239;
    font-size: 2vh;
    line-height: 2vh;
    letter-spacing: -0.15 em;
    height: 4vh;
    padding: 1vh;
    margin: 1vh 1vh 0;
    background-color: #D8DDEE;
    display: flex;
    align-items: flex-end;
    overflow-x: hidden;
    overflow-y: auto;
}

#link {
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-size: 12px;
}

a {
    color: #5680E9;
}

a:hover {
    color: #4B70CC;
}